
adjustText
Autograd
bitsandbytes
captum
catboost
causalml
clarabel
cvxpy
cycler
dask
datasets
debugpy
evaluate
flask
gensim
geopandas
GPflow
GPy
htop
ipython
jinja2
lightgbm
lightning
LIME
matplotlib
modin
mpmath
networkx
nltk
numpy
Optuna
ortools
pandas
#    pandas-profiling https://github.com/pandas-profiling/pandas-profiling/blob/master/README.md
PDPbox
peft
pip-search
plotly
psycopg2
pyarrow
pymc
pyogrio
pyparsing
pyproj
pypsm
PySTAN
python-dateutil
#    Python extensions pack for visual studio code https://marketplace.visualstudio.com/items?itemName=ms-python.python
pytz
pyyaml
qdldl
scikit-learn
scikit-plots
scipy
scs
sentencepiece
shap
SQLAlchemy
statsmodels
sympy
tensorboard
tensorflow
termcolor
tokenizers
torch
torchaudio
torchvision
transformers
tzdata
virtualenv
xgboost
zipp
zstd
pgsrip
easyocr
